TW_ENV=development
TW_LOG_LEVEL=info
# TW_DEV_SERVER_URL=http://127.0.0.1:3001
# TW_BUILD_DIR=apps/host/dist

# Server configuration
TW_SERVER_PORT=3000
# TW_SERVER_READ_HEADER_TIMEOUT=2s
# TW_SERVER_READ_TIMEOUT=15s
# TW_SERVER_WRITE_TIMEOUT=30s
# TW_SERVER_IDLE_TIMEOUT=60s

# Session configuration
# TW_SESSION_NAME=tw_session
# TW_SESSION_DEFAULT_TTL=3h
# TW_SESSION_AUTHENTICATED_TTL=30m

# API proxy configuration
# TW_API_PROXY_STUDENT_INSIGHTS_BASE_URL=http://127.0.0.1:3002
# TW_API_PROXY_POSTS_BASE_URL=http://127.0.0.1:3003
# TW_API_PROXY_STUDENT_INSIGHTS_SIGNING_KEY=a-string-secret-at-least-256-bits-long
# TW_API_PROXY_POSTS_SIGNING_KEY=a-string-secret-at-least-256-bits-long
# TW_API_PROXY_TOKEN_TTL=1m
